h2 {
  text-align: center;
  margin: 20px;
}

.login {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .lContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
  }

  #rContainer {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 25%;
    height: 100%;
  }

  .lContainer .lInput{
    height: 40px;
    padding: 10px;
  }

  #rContainer .rInput{
    height: 40px;
    padding: 10px;
  }
  
  .rInput[type=text]{
    text-transform: capitalize;
  }
  
  .lButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .lButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
  }