h2 {
    text-align: center;
}

#formScreen {
    display: block;
    margin: auto;
    padding: auto;
    margin-top: 50px;
    height: 100vh;
    width: 100%;
}
#centerContainer {
    display: flex;
    justify-content: center;
}

#formAddPet {
    width: 90%;
}

#fContainer {
    display: flex;
    justify-content: space-around;
    align-items: stretch; 
}

.column {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 45%;
    height: 100%;
    padding: 2em;  
}

.column input {
    text-transform: capitalize; 
}

#formAddPet input, select, textarea {
    text-transform: capitalize; 
    height: 35px;
    border-radius: 5px;
    border-color: silver;
    padding-left: 5px;
    color: grey;
}
#formAddPet input:focus, select:focus, textarea:focus, textarea:focus {
    color: black;
}

#formAddPet .images input {
    height: 50px;  
}

.images {
    margin-top: 30px;
}

.images label {
    background-color: green;
    color: aliceblue;
    cursor: pointer;
}
 
.video {
    margin-top: 15px;
}

.video label {
    background-color: blue;
    color: beige;
    cursor: pointer;
}

.saveButton {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    padding-right: 15px;
    padding-bottom: 15px;
}
